/************************/
/*  ホームのみに適応するcss */
/*  作成日：2020年06月06日 */
/*  更新日：              */
/*  作成者：Yomogi Mochi  */
/************************/

@media screen and (min-width:961px){/*PC用*/
  /*Profile画面部分*/
  div#Profile {
    background-color: #FCC2F6;
    width: 100%;
    height: 35%;
  }
  p.Profile{
    margin: 0%;
    padding-top: 0.5%;
    margin-left: 7.5%;
    font-size: 300%;
  }
  .profile_icons_info>p{
    font-size:175%;
    margin:0%;
  }
  img.profile_sns_icons{
    height: 17.5%;
    font-size: 140%;
  }
  /*Illustration画面部分*/
  div#Illustrations{
    width: 100%;
    height: 200%;
  }
  p.Illustration_Title{
    font-size:300%;
    margin:0%;
    margin-left: 5.5%;
    padding-top: 5%;
    text-align: center;
    width: 15%;
    height:20%;
    border-radius:10px;
  }
}

@media screen and  (max-width:960px)  { /*スマフォ*/
  /*Profile画面部分*/
  div#Profile {
    background-color: #FCC2F6;
    width: 100%;
    height: 25%;
  }
  p.Profile{
    margin: 0%;
    padding-top: 0.5%;
    margin-left: 7.5%;
    font-size: 250%;
  }
  .profile_icons_info>p{
    font-size:125%;
    margin:0%;
  }
  img.profile_sns_icons{
    height: 20%;
    font-size: 140%;
  }
  /*Illustration画面部分*/
  div#Illustrations{
    width: 100%;
    height: 110%;
  }
  p.Illustration_Title{
    font-size:250%;
    margin:0%;
    margin-left: 5.5%;
    padding-top: 5%;
    text-align: center;
    width: 15%;
    height:20%;
    border-radius:10px;
  }

}

/*Home画面部分*/
div#Home{
  background-image: url("../Images/Home.JPG");
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  /*background-attachment:fixed;*/
}

div.Profile_Icon{
  float: left;
  width: 100%;
  height: 70%;
  margin: 0%;
}

img.Profile_Icon{
  margin-top: 1.5%;
  margin-left: 15%;
  margin-right: 2.5%;
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  height: 50%;
  right: 0;
  float: left;
}
.profile_icons_info{
  margin-top: 1.5%;
  margin-bottom: 1.0%;
}




div.Illustration{
  height: 25%;
  width: 100%;
  position: relative;
}
/*イラストリストの白箱*/
div.Illustration_Illusts{
  position: absolute;
  bottom: 7.5%;
  width: 95%;
  height: 40%;
  margin-left: 2.5%;
  background-color:rgba(252,194,246,0.25);
  border-radius:30px;
  /*グラデーション設定*/
  background: -webkit-gradient(linear, left top, right top,
      from(rgba(255,255,255, 0)),
      color-stop(0.3, rgba(252,194,246, 0.25)),
      color-stop(0.7, rgba(252,194,246, 0.25)),
      to(rgba(252,194,246, 0)));
  /*スクロール部分のグラデーション*/
  -webkit-mask-image: linear-gradient(to right, transparent,
    black 20%, black calc(100% - 20%),
    transparent);
  mask-image: linear-gradient(to right, transparent,
    black 20%, black calc(100% - 20%),
     transparent);

  overflow: scroll;
  align-items: center;     /*上下中央揃え*/
    overflow-x: scroll;
    display: flex;
  flex-wrap: nowrap;
}

img.Illustration_images{
  object-fit: cover;
  height: 80%;
  margin-left: 5%;
}
